@font-face {
    font-family: 'BecauseRobots Webfont';
    src: url('../font/becauserobots-webfont.eot');
    src: url('../font/becauserobots-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/becauserobots-webfont.woff') format('woff'),
         url('../font/becauserobots-webfont.ttf') format('truetype'),
         url('../font/becauserobots-webfont.svg#becauserobots_webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'BecauseRobots Webfont';
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	display: inline-block;
	speak: none;
}

/**
 * I realize these would be better in the reserved special character block, but haven't moved them
 * yet.
 */
.icon-bitbucket:before { content: 'b'; }
.icon-facebook:before { content: 'f'; }
.icon-github:before { content: 'g'; }
.icon-rss:before { content: 'r'; }
.icon-twitter:before { content: 't'; }
.icon-steam:before { content: 's'; }
