/* not good for nav, but nice */
@import 'styles.scss';

nav {
	ul {
		@include grouping;

		list-style: none;
		padding-left: 0;
		overflow: hidden;
		display: inline-block;
		border-radius: 3px;

		li {
			display: block;
			float: left;
			margin-bottom: 0;

			a {
				line-height: 1;
				font-weight: 600;
				display: block;
				background: $link;
				padding: .6em .7em;
				color: #fff;
				border-bottom: 2px solid #258AB3;
				font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			}

			a:hover {
				color: #fff;
				background: $link_hover;
				border-color: darken($link_hover, 20%);
			}
		}
		li ~ li {
			border-left: 1px solid mix($background, $link, 20%);
		}
	}
}
