/*
Syntax error: Invalid CSS after "/": expected expression (e.g. 1px, bold), was ""
        on line 1 of _config.yml

1: baseurl: /
2: markdown: maruku
3: title: Because<b>Robots</b>
4: name: BecauseRobots
5: description: Kevin Hamer's Blog
6: url: http://becauserobots.com

Backtrace:
_config.yml:1
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1147:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/lexer.rb:199:in `expected!'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:471:in `assert_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:231:in `unary_div'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:228:in `unary_minus'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:228:in `unary_plus'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `plus_or_minus'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `relational'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `eq_or_neq'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `and_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:209:in `or_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:298:in `space'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:283:in `interpolation'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:246:in `expr'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:470:in `assert_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:49:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/parser.rb:166:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/script.rb:31:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:880:in `parse_script'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:608:in `parse_property'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:597:in `parse_property_or_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:578:in `parse_line'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:471:in `build_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:490:in `block in append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:489:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:489:in `append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"/\": expected expression (e.g. 1px, bold), was \"\"\A         on line 1 of _config.yml\A \A 1: baseurl: /\A 2: markdown: maruku\A 3: title: Because<b>Robots</b>\A 4: name: BecauseRobots\A 5: description: Kevin Hamer's Blog\A 6: url: http://becauserobots.com"; }
