/*
Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.
        on line 38 of tmp.css

33: /var/lib/gems/1.9.1/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
34: /usr/local/bin/sass:23:in `load'
35: /usr/local/bin/sass:23:in `<main>'
36: *\/
37: body:before {
38:   white-space: pre;
39:   font-family: monospace;
40:   content: "Syntax error: Invalid charset directive '@charset': expected string.\A         on line 1 of tmp.css\A \A 1: @charset \"UTF-8\";\A 2: @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);\A 3: /**\A 4:  * Built using iMarc Boilerplate v1.0.0\A 5:  * \A 6:  * Copyright 2013 iMarc LLC"; }

Backtrace:
tmp.css:38
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:424:in `block in tabulate'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:382:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:382:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:382:in `tabulate'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.\A         on line 38 of tmp.css\A \A 33: /var/lib/gems/1.9.1/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'\A 34: /usr/local/bin/sass:23:in `load'\A 35: /usr/local/bin/sass:23:in `<main>'\A 36: */\A 37: body:before {\A 38:   white-space: pre;\A 39:   font-family: monospace;\A 40:   content: \"Syntax error: Invalid charset directive '@charset': expected string.\A         on line 1 of tmp.css\A \A 1: @charset \\"UTF-8\\";\A 2: @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);\A 3: /**\A 4:  * Built using iMarc Boilerplate v1.0.0\A 5:  * \A 6:  * Copyright 2013 iMarc LLC\"; }"; }
