			</div>
			<aside class="primary">
				<section>
					<h4>About</h4>
					<p>
						BecauseRobots runs across a handful of web services and VPSs to provide
						all the online services Kevin Hamer could need. Currently this includes
					</p>
					<ul>
						<li>3 websites</li>
						<li>2 projects</li>
						<li>2 Minecraft servers</li>
						<li>1 Mumble server</li>
					</ul>
				</section>
			</aside>
		</div>

		<footer class="primary">
			<div class="container">
				<div class="copyright">©2013 Kevin Hamer.</div>
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
		<script type="text/javascript">
			(function(){var a=document.getElementsByTagName("code");for(var b in a){hljs.highlightBlock(a[b],'    ')}})()
		</script>
	</body>
</html>
